
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis, .legend-text, .legend-title, series-label, .tooltip {
  font-family: Segoe UI Light, "Open Sans Light", Verdana, Sans-Serif;
}
.xaxis text {
}
.axis,
.legend-text {
  font-size: .8em;
}
.series-label {
  font-size: 1.125em;
  @media only screen and (min-width: 768px) {
    /* tablets and desktop */
  font-size: 1.425em;
  }
  line-height: 1.425em;
}
.title-series-label {
  font-size: 1.425em;
  @media only screen and (min-width: 768px) {
    /* tablets and desktop */
  font-size: 2.0em;
  }
  line-height: 2.0em;
}
.legend-title {
  font-size: .9em;
}
.tooltip {
  color: #dddddd;
  background-color: rgb(80,80,80);
  background-color: rgba(80,80,80,.9);
}

.tooltip div {
    margin: 0;
    padding: .2em .5em 1em .2em;
    border: solid lightblue 3px;
    text-align: center;
}

svg.chart, div.chart {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    top: 100px;
    width: 100%;
/*    padding-bottom: 66%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

svg.chartsvg {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0;
}

svg {
    border: solid 1px #ccc;
    font: 10px sans-serif;
}

.chart-line {
    stroke-width: 5;
}

#header {
 background-color:blue;
}

.barrect {
    opacity: 0.5;
}

text.topbars {
    fill: #ddd;
    font-size: 2em;
}
